.about {
  color: #f1f1f1;
  background-color: #616161;

  padding-top: 32px;
  padding-bottom: 32px;
}

.about__title {
  font-weight: bolder;
}

.about__photo {
  width: 600px;
  height: auto;
  border-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.about__content {
  max-width: 600px;
  text-align: justify;
}

/* .about__content-title {

} */

.about__content-hr {
  opacity: 0.60;
}

.about__content-subtitle {
  letter-spacing: 4px;
}

.about__content-persentline {
  color: #000;
  background-color: #9e9e9e;
  padding: 4px 8px;
}

.about__content-button {
  padding: 12px 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  transition: 500ms;
}

.about__content-button:hover, .about__content-button:focus {
  box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.25);
}

.about__content-plan-wrapper {
  padding: 0 8px;
  margin: 0 -16px;

  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about__content-plan-wrapper > div {
  margin-bottom: 16px;
  flex-grow: 1;
  padding: 0 8px;
}

.about__content-plan-ul {
  color: #000;
  background-color: #fff;
}