.contact {
  padding: 32px 24px;
}

.contact__content {
  max-width: 600px;
}

.contact__input-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact__input {
  display: block;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  overflow: visible;
  font: inherit;
  margin: 0;
}

.contact__submit-button {
  color: #fff;
  background-color: #000;
  display: block;
  width: 100%;
  user-select: none;
  margin-bottom: 16px;

  transition: 300ms;
}

.contact__submit-button:hover {
  color: #000;
  background-color: #ccc;
} 
