.footer {
  display: block;
  color: #000;
  background-color: #9e9e9e;
  padding: 0.01em 16px;
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.footer__div-wrapper {
  padding: 0 8px;

  display: flex;
  flex-direction: row;
}

.footer__info {
  padding: 0 8px;
  flex-basis: 33.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

.footer__blog {
  padding: 0 8px;
  flex-basis: 33.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

.footer__blog__list-item {
  padding: 16px;
  border-bottom: 1px solid #ddd;

  transition: 200ms;
}

.footer__blog__list-item:last-of-type {
  border-bottom: none;
}

.footer__blog__list-item:hover {
  color: #fff;
  background-color: #000;
}

.footer__blog__list-item-img {
  width: 50px;
  margin-right: 16px;
  float: left;
}

.footer__blog__list-item-title {
  font-size: 18px;
}

.footer__tags {
  padding: 0 8px;
  flex-basis: 33.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

.footer__tags-item {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #616161;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.tags-selected {
  color: #fff;
  background-color: #000;
  font-size: 15px;
}