.header {
  color: #000;
  background-color: #fff;
  font-size: 24px;
  padding: 0.01em 16px;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

@media (min-width: 993px) {
  .header {
    display: none;
  }
}

.header__title {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
}

.header__togle {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;

  transition: 1s;
}

.header__togle:hover {
  background-color: #ccc;
}