.photo-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.photo-list__item {
  z-index: 1;
  width: 33.33%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: -6px;
  opacity: 0.8;

  transition: 500ms;
}

.photo-list__item:hover {
  z-index: 2;
  opacity: 1;
  cursor: pointer;
  
  margin-bottom: 0px;
  height: 594px;
}

@media (max-width: 992px) {
  .photo-list__item {
    height: 450px;
  }
  
  .photo-list__item:hover {
    height: 444px;
  }
}

@media (max-width: 600px) {
  .photo-list__item {
    width: 100%;
  }
}


.photo-list__item-image {
  width: 100%;
}
