@import url("sidebar.css");
@import url("main.css");
@import url("photo-list.css");
@import url("pagination.css");
@import url("about.css");

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway/static/Raleway-Regular.ttf);
}


body {
  box-sizing: border-box;
  max-width: 1600px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #757575;
}

.text-light-gray {
  color: #000;
  background-color: #f1f1f1;
}

.background-white {
  background-color: #ffffff;
} 

body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
}

h3 {
    font-size: 24px;
}